.container {
  max-width: 800px;
  margin: auto;
}

.trip-form input,
.trip-form select {
  width: 100%;
}

.table th,
.table td {
  vertical-align: middle;
}

button {
  min-width: 80px;
}
